#cat {
  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    background-image: url('/img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    animation: glitch-anim-before 10s infinite linear alternate-reverse;
  }

  &::after {
    animation: glitch-anim-after 20s infinite linear alternate-reverse;
  }
}

/*
pour calculer le background position
x1 = height * le translate /100
x2 = 1/(100-height)
background position = x1*x2*100
*/

@keyframes glitch-anim-before {
  $steps: 40;

  @for $i from 0 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $height: random(60) + 5;
      $offset: random(100);
      $translate: min(100 * calc($offset / $height), 150 - $height);
      $x1: $height * calc($translate / 100);
      $x2: calc(1 / (100 - $height));

      transform: translateY(#{$translate + '%'}) scaleX(calc(random(30) / 100) + 0.9);
      opacity: 0.1 + calc(random(30) / 100);
      height: #{$height + '%'};
      background-position-y: #{($x1 * $x2 * 100) + '%'};
    }
  }
}

@keyframes glitch-anim-after {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $height: random(50) + 5;
      $offset: random(100);
      $translate: min(100 * calc($offset / $height), 150 - $height);
      $x1: $height * calc($translate / 100);
      $x2: calc(1 / (100 - $height));

      transform: translateY(#{$translate + '%'}) scaleX(calc(random(30) / 100) + 0.9);
      opacity: 0.1 + calc(random(30) / 100);
      height: #{$height + '%'};
      background-position-y: #{($x1 * $x2 * 100) + '%'};
    }
  }
}
