---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Card from '../components/Card.astro';
import H2Styled from '../components/H2Styled.astro';
import SpanStyled from '../components/SpanStyled.astro';
import Background from '../components/Background.astro';
import ImgSmall from '../components/ImgSmall.astro';
import './base.css';
import './anim.scss';
---

<Layout title="cubcubcub — Hello my name is cub">
  <Background />
  <main class="z-10 relative px-2">
    <Logo />

    <Card title="About Me">
      <p class="mb-2">Hi ! I'm a french developer, mainly front-end. I like to mix code 👨‍💻 and graphic to get some nice interface.</p>
      <p class="mb-2">I'm interested in artificial intelligence and transhumanism. Future&nbsp;? Become a cyberbrain 🧠.</p>
      <p>I love chocolate, cats 😸 and games.</p>
    </Card>

    <Card title="My Stack">
      <ul>
        <li class="mb-2">
          <SpanStyled>IDE:</SpanStyled> VSCode
        </li>
        <li class="mb-2">
          <SpanStyled>Tools:</SpanStyled>
          Node.js, NPM, Git, Vite, BrowserSync, ...
        </li>
        <li class="mb-2">
          <SpanStyled>Languages:</SpanStyled>
          HTML, CSS, JavaScript, TypeScript, SCSS, JSON, ...
        </li>
        <li class="mb-2">
          <SpanStyled>Frameworks &amp; Libs:</SpanStyled>
          Vue ❤️, Astro, Angular, React, Express, TailwindCSS, Bootstrap, Motion One, Lodash, Socket.io, Phaser.io, Leaflet, Moment, ...
        </li>
      </ul>
      <p>Anyway I still learn/test new tools ! Give me some nice docs, exemples and I should be able to learn the new meta 😊.</p>
    </Card>

    <Card title="Projects">
      <H2Styled>Cubcubcub</H2Styled>
      <ul>
        <li class="mb-1">
          <SpanStyled>Description:</SpanStyled>
          This website 😎
        </li>
        <li class="mb-1">
          <SpanStyled>Source:</SpanStyled>
          <a
            target="_blank"
            href="https://github.com/cub/cubcubcub">github.com/cub/cubcubcub</a
          >
        </li>
        <li class="mb-1">
          <SpanStyled>Status:</SpanStyled> ✔️ active
        </li>
        <li class="mb-3">
          <SpanStyled>Stack:</SpanStyled>
          Astro, TailwindCSS, Motion One, Cloudflare, Github
        </li>
      </ul>
      <H2Styled>Motoko</H2Styled>
      <ul>
        <li class="mb-1">
          <SpanStyled>Description:</SpanStyled>
          A Discord bot that plays sounds.
        </li>
        <li class="mb-1">
          <SpanStyled>Source:</SpanStyled>
          <a
            target="_blank"
            href="https://github.com/cub/motoko">github.com/cub/motoko</a
          >
        </li>
        <li class="mb-1">
          <SpanStyled>Status:</SpanStyled> ✔️ active
        </li>
        <li class="mb-3">
          <SpanStyled>Stack:</SpanStyled>
          Node.js, Discord.js, Docker, Fly.io, Github
        </li>
      </ul>
      <H2Styled>Twinkle</H2Styled>
      <ul>
        <li class="mb-1">
          <SpanStyled>Description:</SpanStyled>
          A game heavily inspired by
          <a href="https://en.wikipedia.org/wiki/Twinkle_Star_Sprites">Twinkle Star Sprites</a>
          in HTML5, with multiplayer versus mode using P2P sockets.
        </li>
        <li class="mb-1">
          <SpanStyled>Status:</SpanStyled> ✔️ half-active, 📅 2019-2020
        </li>
        <li class="mb-3">
          <SpanStyled>Stack:</SpanStyled> Vue, Phaser, PeerJS
        </li>
      </ul>
      <H2Styled>Cake is a lie</H2Styled>
      <ul>
        <li class="mb-1">
          <SpanStyled>Description:</SpanStyled>
          An infinite rogue like in iso view and a maze generator with over 1000 tiles.
        </li>
        <li class="mb-1">
          <SpanStyled>Status:</SpanStyled> 💤 paused, 📅 2017-2019
        </li>
        <li class="">
          <SpanStyled>Stack:</SpanStyled> Vue, Phaser, Node.js
        </li>
      </ul>
    </Card>
    <Card title="Contact">
      <p class="mb-1">Feel free to contact me ❤️</p>
      <ul>
        <li class="flex items-center mb-1">
          <ImgSmall
            alt="Icon of an envelope"
            src="/icon/envelope.svg"
          />
          <a
            href="mailto:hello@cubcubcub.com"
            target="_blank"
            ><span>hello@cubcubcub.com</span>
          </a>
        </li>
        <li class="flex items-center mb-1">
          <ImgSmall
            alt="Logo GitHub"
            src="/icon/github.svg"
          />
          <a
            href="https://github.com/cub"
            target="_blank"
            ><span>github.com/cub</span>
          </a>
        </li>
        <li class="flex items-center">
          <ImgSmall
            alt="Logo LinkedIn"
            src="/icon/linkedin.svg"
          />
          <a
            href="https://linkedin.com/in/cubcubcub"
            target="_blank"
            ><span>linkedin.com/in/cubcubcub</span>
          </a>
        </li>
      </ul>
    </Card>
  </main>
</Layout>
